* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  background: #333;
  color: aliceblue;
}

.main {
  border: 2px solid white;
  width: 70%;
  margin: 0 auto;
  height: 70vh;
  border-radius: 2rem;
  margin-top: 3rem;
}

.main-title {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  padding: 1rem;
}

.actual-matches {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.place {
  display: flex;
  width: 70%;
  justify-content: space-between;
  border-bottom: 1px solid white;
  margin-top: 1rem;
}

.single-match {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.teams {
  width: 100%;
}

.duel {
  width: 100%;
  display: flex;
  justify-content: space-between;
 align-items: center;
}

.all-matches {
  width: 70%;
}

.list-item {
  width: 100%;
  border-bottom: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100px;
}

.result {
  width: 150px;
 text-align: center;
}

.result:nth-child(2) {
  display: flex;
  
  justify-content: space-evenly;
}



.goals {
  width: 20px;
  height: 20px;
  background: wheat;
  color: black;
  display: flex;
  align-items: center;
  align-content: center;
 justify-content: center;
}

button {
  cursor: pointer;
}

.btns {
  display: flex;
  width: 50%;
  justify-content: space-between;
  
}
